<footer>
    <h3>Also in love with the web?</h3>
    <p>For us, that’s about technology and user experience. Fast, available for all, enjoyable to use. And fun to build. This is how our team bands together, adhering to the same values, to make sure we achieve a solid result for clients both large and small. Does that fit you?</p>
    <a href="https://www.voorhoede.nl/en/jobs/">Join our team</a>
</footer>

</body>
</html>