<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" media="screen">
    <script src="client.js" defer async></script>
    <title>Blog | De Voorhoede</title>
</head>
<body>
    
<header>
    <img src="assets/img/logo.svg" alt="Logo De Voorhoede">
    <p><span>EN</span> | NL</p>
</header>