<%- include('partials/head') %>

<main>
    <div>
        <h1>Blog</h1>
        <h2>We love web</h2>
    </div>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <%- post.title %>
            </li>
        <% }) %>
    </ul>
</main>

<%- include('partials/foot') %>