/***********************************************************************************************************************/
/* Fonts */
/***********************************************************************************************************************/

@font-face {
    font-family: "Inter";
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

/***********************************************************************************************************************/
/* Overall */
/***********************************************************************************************************************/

:root {
    --bg-pastel: #fffeca;
    --html-blue: #0000ff;
    --white: #fff;
    --black: #222;
    --padding-side: 4rem;
    --padding-top-bottom: 2rem;
    --margin-small: 15px;
    --margin-larger: 55px
}

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.4;
    font-family: Inter, sans-serif;
}

a {
    text-decoration: none;
}

/***********************************************************************************************************************/
/* Header */
/***********************************************************************************************************************/

header {
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-pastel);
    color: var(--html-blue);
    padding: var(--padding-top-bottom) var(--padding-side);
    border-bottom: 1px solid rgb(223, 223, 223);
}

header img {
    width: 190px;
    height: 32px;
}

header p span {
    font-weight: 700;
}

/***********************************************************************************************************************/
/* Main */
/***********************************************************************************************************************/

main {
    background-color: var(--white);
}

main > div {
    color: var(--html-blue);
    background-color: var(--bg-pastel);
    padding: var(--padding-top-bottom) calc(var(--padding-side) + 4rem);
}

main > div h1 {
    font-weight: 500;
    font-size: 2rem;
}

main > div h2 {
    font-size: 3rem;
    font-weight: 800;
}

/***********************************************************************************************************************/
/* Posts */
/***********************************************************************************************************************/

ul {
    list-style: none;
    padding: var(--padding-top-bottom) 2rem; /* Nog aanpassen */
}

li {
    margin-bottom: var(--margin-larger)
}

li:last-of-type {
    margin-bottom: 0;
}

article a h3 {
    margin-bottom: var(--margin-small)
}

article div {
    margin-top: var(--margin-small);
}


/***********************************************************************************************************************/
/* Footer */
/***********************************************************************************************************************/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-pastel);
    padding: var(--padding-top-bottom) var(--padding-side)
}

footer h3 {
    font-size: 2rem;
    color: var(--html-blue);
    margin-bottom: 25px;
}

footer p {
    max-width: 35rem;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 35px;
}

footer a {
    width: auto;
    padding: .85rem 1.5rem .7rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--html-blue);
    border-radius: 3px;
}