/***********************************************************************************************************************/
/* Fonts */
/***********************************************************************************************************************/

@font-face {
    font-family: "Inter";
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

/***********************************************************************************************************************/
/* Overall */
/***********************************************************************************************************************/

:root {
    --bg-pastel: #fffeca;
    --html-blue: #0000ff;
    --white: #fff;
    --black: #222;
    --padding-side: 4rem;
    --padding-top-bottom: 2rem;
    --margin-small: 15px;
    --margin-larger: 55px
}

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.4;
    font-family: Inter, sans-serif;
}

a {
    text-decoration: none;
}

/***********************************************************************************************************************/
/* Header */
/***********************************************************************************************************************/

header {
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-pastel);
    color: var(--html-blue);
    padding: var(--padding-top-bottom) var(--padding-side);
    border-bottom: 1px solid rgb(223, 223, 223);
}

header img {
    width: 190px;
    height: 32px;
}

header p span {
    font-weight: 700;
}

/***********************************************************************************************************************/
/* Main */
/***********************************************************************************************************************/

main {
    background-color: var(--white);
}

main > div {
    color: var(--html-blue);
    background-color: var(--bg-pastel);
    padding: var(--padding-top-bottom) calc(var(--padding-side) + 4rem);
}

main > div h1 {
    font-weight: 500;
    font-size: 2rem;
}

main > div h2 {
    font-size: 3rem;
    font-weight: 800;
}

/***********************************************************************************************************************/
/* Search */
/***********************************************************************************************************************/

.search-bar {
    width: 30rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
    padding: 2rem 0;
}

.search-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid var(--html-blue);
    border-radius: 3px;
}

.search-box input {
    width: 100%;
    padding: 15px 10px;
    border: none;
}

.search-box button {
    width: 2rem;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
}

.result-box ul {
    border: 2px solid var(--html-blue);
    padding: 15px 10px;
}

.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover {
    font-weight: 700;
    background-color: var(--bg-pastel);
}

/***********************************************************************************************************************/
/* Posts */
/***********************************************************************************************************************/

.blog-post-list {
    width: fit-content;
    list-style: none;
    padding: var(--padding-top-bottom) 2rem; /* Nog aanpassen */
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.blog-post-list li {
    margin-bottom: var(--margin-larger)
}

.blog-post-list li:last-of-type {
    margin-bottom: 0;
}

.blog-post-list article a:visited {
    color: var(--html-blue);
}

.blog-post-list article a h3 {
    margin-bottom: var(--margin-small);
    font-size: 1.125rem;
    max-width: 30rem;
}

.blog-post-list article div {
    margin-top: var(--margin-small);
}

.authors {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.author-img {
    height: 65px;
    object-fit: cover;
}

.authors p {
    margin-left: 0.5rem;
}


/***********************************************************************************************************************/
/* Footer */
/***********************************************************************************************************************/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-pastel);
    padding: var(--padding-top-bottom) var(--padding-side)
}

footer h3 {
    font-size: 2rem;
    color: var(--html-blue);
    margin-bottom: 25px;
}

footer p {
    max-width: 35rem;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 35px;
}

footer a {
    width: auto;
    padding: .85rem 1.5rem .7rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--html-blue);
    border-radius: 3px;
}